# Gradle
.gradle/
build/
app/build/

# Local config
local.properties

# Android Studio
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Build outputs
*.apk
*.log

# Native builds
.externalNativeBuild/
.cxx/

# Captures
captures/
